
body{
    background: linear-gradient(180deg, #86B5FD 0%, #C1D9FC 14.58%, #F5F8FC 30.21%, #F5F8FC 48.44%, #F5F8FC 69.27%);
    background-repeat: no-repeat;
} 
p{
    word-break: normal;
}
 #divLogo{
    display: flex;
    justify-content: center;
}

#navegacao{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-right: 200px;
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
}
#navegacao a,#divPerfil a{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    color: #000000;
}
#navegacao a:hover,#divPerfil a:hover{
    color: #003F88;
}
#navegacao input{
    background: #E5E5E5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 13px;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
    height: 20px;
    max-width: 150px;
    padding-left: 10px;
    background: none;
}

::placeholder{
    font-weight: normal;
    color: #000000;
}

#divPerfil{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 10px;
    width: fit-content;
    font-style: normal;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 20px;
}


@media all and (max-width:700px){
    #logo{
        width:50%;
        min-width: 200px;
    }
    #fotoUsuario{
        width:70%;
    }
    #navegacao{
        margin-right: 0;
    }
    #divPerfil{
        position: relative;
        right: auto;
    }
    #navegacao input{
    margin-top: 10px;

    }
}

#divInserirPiu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}
#divInserirPiu textarea{
    margin: 10px;
    padding-left: 10px;
    border: none;
    background: #E5E5E5;
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    width: 50%;
    height: 100px;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 15px;
    font-weight: normal;
    background: none;
}

#enviarPiu{
    min-width: 50px;
    min-height: 30px;
    margin-bottom: 10px;
    background: #003F88;
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #003F88;
    border-radius: 13px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
#enviarPiu:hover{
    cursor: pointer;
}
/*#enviarPiu:hover{
    cursor: pointer;
    background: none;
    color: #003F88;
    font-weight: bolder;
}*/
#avisoCampoVazio{
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 15px;
    color: red;
    display: none;
    justify-content: center;
    transition: 0.3;
    position: relative;
    left: 20%;
}
#contador{
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 12px;
    margin: 0em;
    display: flex;
    justify-content: center;
    position: relative;
    right: 25%;
}
#divFeed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#seuFeed{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    right: 25%;
}
#divFeed .piu{
    margin: 10px 0px;
    background-color: red;
    background: #E5F1EF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    padding: 10px;
    width: 80%;
   
}
#divFeed .nomePiuwer{
    margin: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}
#divFeed .fotoPiuwer{
    border-radius: 50px;
    width: 100px;
}

#divFeed .mensagemPiuwer{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 18px;
}
